name: CI

on:
  schedule:
    - cron: '0 0 * * 0'
  push:
    branches:
      - master
  pull_request:

jobs:
  rustfmt:
    name: Rustfmt
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup `stable-x86_64-unknown-linux-gnu`
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable-x86_64-unknown-linux-gnu
          default: true
          profile: minimal
          components: rustfmt

      - name: cargo-fmt (.)
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: -- --check

      - name: cargo-fmt (./tools/list-as-dependencies)
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --manifest-path ./tools/list-as-dependencies/Cargo.toml -- --check

  build:
    strategy:
      fail-fast: false
      matrix:
        toolchain:
          - 1.42.0-x86_64-pc-windows-msvc
          - 1.42.0-x86_64-apple-darwin
          - 1.42.0-x86_64-unknown-linux-gnu
          - stable-x86_64-pc-windows-msvc
          - stable-x86_64-apple-darwin
          - stable-x86_64-unknown-linux-gnu
        include:
          - { toolchain: 1.42.0-x86_64-pc-windows-msvc  , os: windows-2019 }
          - { toolchain: 1.42.0-x86_64-apple-darwin     , os: macos-10.15  }
          - { toolchain: 1.42.0-x86_64-unknown-linux-gnu, os: ubuntu-18.04 }
          - { toolchain: stable-x86_64-pc-windows-msvc  , os: windows-2019 }
          - { toolchain: stable-x86_64-apple-darwin     , os: macos-10.15  }
          - { toolchain: stable-x86_64-unknown-linux-gnu, os: ubuntu-18.04 }

    name: Build (${{ matrix.toolchain }})
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: 'Set up `${{ matrix.toolchain }}`'
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.toolchain }}
          override: true
          profile: minimal
          components: clippy

      - name: cargo-clippy (./tools/list-as-dependencies)
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --manifest-path ./tools/list-as-dependencies/Cargo.toml
        if: startsWith(matrix.toolchain, 'stable-')

      - name: cargo-build (./tools/list-as-dependencies)
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --manifest-path ./tools/list-as-dependencies/Cargo.toml -- -D warnings
        if: startsWith(matrix.toolchain, 'stable-')
